@font-face {
    font-family: Poppins-black;
    src: url(./Poppins-Black.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(./Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-regular;
    src: url(./Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-medium;
    src: url(./Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-semibold;
    src: url(./Poppins-SemiBold.ttf);
}