@import "tailwindcss";

@theme{
  --font-pregular: Poppins-regular;
  --font-pbold: Poppins-bold;
  --font-pblack: Poppins-black;
  --font-pmdfium: Poppins-medium;
  --font-psmbold: Poppins-semibold;
  --font-arial: arial;
  --font-arialbold: arial-bold;
  --font-arialmedium: arial-medium;
  --font-arialblack: arial-black;
  --color-whitesmoke: #F5F5F5
}

body {
  background: whitesmoke;
  @apply font-pregular;
}
